services:
  colados-leaderboard-api:
    build: ./colados-leaderboard-api
    image: colados-leaderboard-api:1.0.0
    container_name: colados-leaderboard-api
    env_file:
      - ./colados-leaderboard-api/.env
    environment:
      POSTGRES_HOST: postgres-colados
      POSTGRES_PORT: 5432
      RABBITMQ_HOST: rabbitmq-colados
      MINIO_ENDPOINT: minio-colados:9000
    ports:
      - "8080:8080"
    networks:
      - colados-network
    depends_on:
      - rabbitmq
      - minio
      - postgres

  colados-image-processor:
    build: ./colados-image-processor
    image: colados-image-processor:1.0.0
    container_name: colados-image-processor
    env_file:
      - .env
    environment:
      MONGO_HOST: mongodb-colados
      RABBITMQ_HOST: rabbitmq-colados
      MINIO_ENDPOINT: minio-colados:9000
    networks:
      - colados-network
    depends_on:
      - rabbitmq
      - minio
      - mongodb

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq-colados
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # Management UI
    networks:
      - colados-network
    volumes:
      - "./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro"
      - "./rabbitmq/definitions.json:/etc/rabbitmq/definitions.json:ro"
      - "rabbitmq-data:/var/lib/rabbitmq"
      - "rabbitmq-data:/var/log/rabbitmq"

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: minio-colados
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
      MINIO_DEFAULT_BUCKETS: images
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001" # Console UI
    volumes:
      - minio-data:/data
    networks:
      - colados-network

  mongodb:
    image: mongo:8.0.15-noble
    container_name: mongodb-colados
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - ${MONGO_PORT}:27017
    volumes:
      - mongo-data:/data/db
    networks:
      - colados-network

  mongo-express:
    image: mongo-express:1.0-20-alpine3.19
    container_name: mongo-express-colados
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_SERVER: ${ME_CONFIG_MONGODB_SERVER}
      ME_CONFIG_MONGODB_PORT: ${MONGO_PORT}
    ports:
      - ${ME_CONFIG_MONGODB_PORT}:8081
    networks:
      - colados-network

  postgres:
    image: postgres:15.6-alpine
    container_name: postgres-colados
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: colados_api_db
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - colados-network

volumes:
  rabbitmq-data:
  minio-data:
  mongo-data:
  pgdata:

networks:
  colados-network:
    driver: bridge
